/nbproject/private/
/Lab3-MueblesDeLosAlpes-ejb/nbproject/private/
/Lab3-MueblesDeLosAlpes-war/nbproject/private/
/Lab3-MueblesDeLosAlpes-ejb/build/
/Lab3-MueblesDeLosAlpes-ejb/dist/
/Lab3-MueblesDeLosAlpes-war/build/
/build/
/Lab3-MueblesDeLosAlpes-war/dist/